<!-- NAVIGATION -->
<header
  id="navigation"
  class="fixed ~top-4/8 left-1/2 -translate-x-1/2 w-[calc(100%-2rem)] container py-4 px-7 bg-white dark:bg-zinc-950 rounded-xl z-50
    transition-[width,max-width,transform] duration-300 group-[&.scroll]/body:w-full group-[&.scroll]/body:max-w-full group-[&.scroll]/body:~-translate-y-4/8
    group-[&.scroll]/body:rounded-none group-[&.scroll]/body:shadow-lg"
>
  <div class="container m-auto flex justify-between items-center">
    <!-- NAVIGATION LOGO -->
    <div class="flex-1 flex">
      <a
          aria-label="Kliknutím přejdete na domovskou stránku"
          href="/">
        <img
            class="h-12 w-auto dark:hidden"
            decoding="async"
            loading="eager"
            src="/assets/svgs/Spanelske_Slunce_logo_dark.svg"
            alt="Španělské Slunce - logo"
            width="153"
            height="48">

        <img
            class="hidden dark:block h-12 w-auto"
            decoding="async"
            loading="eager"
            src="/assets/svgs/Spanelske_Slunce_logo_light.svg"
            alt="Španělské Slunce - logo"
            width="153"
            height="48">
      </a>
    </div>

    <!-- NAVIGATION -->
    <div
      class="hidden max-xl:group-[.mobile-menu]/body:block xl:block max-xl:absolute max-xl:top-[calc(100%+0.5rem)] max-xl:left-1/2 max-xl:-translate-x-1/2
        max-xl:w-full max-xl:group-[.mobile-menu]/body:w-full max-xl:group-[.mobile-menu]/body:max-w-[calc(100vw-2rem)] max-xl:p-4 max-xl:bg-white dark:max-xl:bg-zinc-950 max-xl:rounded-xl max-xl:shadow-lg">
      <nav class="flex justify-center whitespace-nowrap">
        <ul class="flex max-xl:flex-col gap-2 xl:gap-8 max-xl:w-full">
          {% set navPages = collections.all | eleventyNavigation %}

          {# Loop through all pages with a eleventyNavigation in the frontmatter #}
          {% for entry in navPages %}

            {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
            {% set hasChild = entry.children.length %}

            <li
              class="group/li relative flex max-xl:flex-col xl:items-center max-xl:w-full{% if hasChild %} dropdown{% endif %}"
              {%- if hasChild -%}tabindex="0"{%- endif -%}
            >
              {# If the page has child dropdown pages, render it as a <button> tag with the appropriate dropdown HTML #}
              {% if hasChild %}
                {# Render the <button> with the active class, dropdown icon and child links #}
                <button 
                  class="dropdown-button group/button flex items-center py-2 max-xl:pl-4 xl:py-4 max-xl:border-l-4 max-xl:border-border-zinc-300 dark:max-xl:border-zinc-600 max-xl:rounded-r-md
                    text-sm font-semibold text-zinc-800 dark:text-zinc-200 transition-colors duration-300 hover:text-black dark:hover:text-white"
                  aria-expanded="false"
                  aria-controls="dropdown-{{ entry.key }}"
                  aria-label="dropdown-{{ entry.key }}"
                  type="button"
                >
                  <span>{{ entry.key }}</span>

                  <!-- ICON -->
                  <svg class="-mr-2" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="currentColor">
                    <path d="M480-360 280-560h400L480-360Z"/>
                  </svg>
                </button>

                {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                <div class="xl:absolute xl:top-11 xl:-left-4 xl:py-8 xl:px-4 max-xl:h-0 max-xl:group-[&.active]/li:h-auto
                  transition-[transform,_opacity] duration-300 xl:scale-y-0 xl:opacity-0 origin-top xl:group-hover/li:scale-y-100 xl:group-hover/li:opacity-100">
                  <ul
                    id="dropdown-{{ entry.key }}"
                    class="flex flex-col
                      xl:py-2 xl:px-4 xl:bg-white xl:dark:bg-zinc-950 xl:rounded-xl xl:shadow-lg
                      max-xl:hidden max-xl:group-[&.active]/li:flex max-xl:gap-2 max-xl:mt-2 max-xl:mb-4 max-xl:ml-4"
                  >
                    {% for child in entry.children %}
                      <li class="drop-li xl:transition-[transform,_opacity] xl:duration-200 xl:opacity-0 xl:translate-x-12 xl:group-hover/li:opacity-100 xl:group-hover/li:translate-x-0"
                      style="transition-delay: {{ 150 + 75 * loop.index }}ms;"
                    >
                        <a
                        href="{{ child.url }}"
                        class="li-link block py-2 max-xl:pl-4 text-sm font-semibold max-xl:border-l-4
                          {% if child.url == page.url %} text-primary dark:text-primary max-xl:border-l-primary max-xl:bg-primary/10
                          {% else %} text-zinc-800 dark:text-zinc-200 transition-colors duration-300 hover:text-black dark:hover:text-white
                          max-xl:hover:bg-zinc-100 dark:max-xl:hover:bg-zinc-900 max-xl:border-l-zinc-300 dark:max-xl:border-l-zinc-600 max-xl:focus:text-black{%- endif -%}"
                        {%- if child.url == page.url -%}aria-current="page"{%- endif -%}
                      >
                          {{ child.key }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                <a
                href="{{ entry.url }}"
                class="py-2 max-xl:pl-4 xl:py-4 text-sm font-semibold max-xl:w-full max-xl:border-l-4 max-xl:rounded-r-md
                  {% if entry.url == page.url %} text-primary dark:text-primary max-xl:border-l-primary max-xl:bg-primary/10
                  {% else %} text-zinc-800 dark:text-zinc-200 transition-colors duration-300 hover:text-black dark:hover:text-white
                  max-xl:hover:bg-zinc-100 dark:max-xl:hover:bg-zinc-900 max-xl:border-l-zinc-300 dark:max-xl:border-l-zinc-600 max-xl:focus:text-black{%- endif -%}"
                  {%- if entry.url == page.url -%}aria-current="page"{%- endif -%}
                >
                  {{ entry.key }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
          <li class="group/li xl:hidden mt-4">
            <!-- MOBILE CTA BUTTON -->
            <a class="block relative px-4 py-2 bg-primary text-center text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
              before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
              before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
              href="https://edu.spanelskeslunce.cz/"
              target="_blank">
                Edukativní portál
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- CTA + DARKMODE BUTTON -->
    <div class="flex-1 flex justify-end items-center gap-4 xl:gap-6">
      <!-- CTA BUTTON -->
      <a class="hidden xl:block relative px-4 py-2 bg-primary text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
        before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
        before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
        href="https://edu.spanelskeslunce.cz/"
        target="_blank">
          Edukativní portál
      </a>

      <!-- DARKMODE BUTTON -->
      <label for="darkmode-switch" class="darkmode-container">
        <span class="sr-only">Přepínač tmavého režimu</span>
        <input id="darkmode-switch" type="checkbox">
        <span class="planet"></span>
        <span class="elements">
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <polygon points="250,60 100,400 400,400"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <circle
                cx="250"
                cy="250"
                r="200"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <circle
                cx="250"
                cy="250"
                r="200"/>
          </svg>
          <svg
              version="1.1"
              viewBox="0 0 500 500"
              xmlns="http://www.w3.org/2000/svg">
            <circle
                cx="250"
                cy="250"
                r="200"/>
          </svg>
        </span>
      </label>

      <!-- MOBILE MENU BUTTON -->
      <button
          id="mobile-menu-toggle"
          class="toggle group flex xl:hidden justify-center items-center gap-1 h-10 w-10 bg-transparent rounded-lg select-none
            transition-transform duration-500 [&.active]:rotate-90"
          type="button"
          aria-expanded="false"
          aria-label="Tlačítko mobilního menu"
        >
        <span class="block relative h-[1.125rem] w-6">
          <span class="absolute top-0 block h-[3px] w-full bg-zinc-700 dark:bg-zinc-300 rounded-full transition-transform duration-500 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:left-1/2 group-[.active]:-translate-x-1/2"></span>
          <span class="absolute top-1/2 -translate-y-1/2 block h-[3px] w-full bg-zinc-700 dark:bg-zinc-300 rounded-full transition-[opacity] duration-500 group-[.active]:opacity-0"></span>
          <span class="absolute bottom-0 block h-[3px] w-full bg-zinc-700 dark:bg-zinc-300 rounded-full transition-transform duration-500 group-[.active]:rotate-[315deg] group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:left-1/2 group-[.active]:-translate-x-1/2"></span>
        </span>
      </button>
    </div>
  </div>
</header>