---
title: 'Reference'
description: 'Máte nějaké dotazy? Máte zájem o cenovou nabídku nebo konzultaci? Neváhejte se nám ozvat.'
permalink: 'reference/'
eleventyNavigation:
  key: Reference
  order: 500
---

{% extends "layouts/base.njk" %}

{% block body %}
    {% include "components/landing.njk" %}

    <section class="py-24 ~px-4/8 bg-zinc-100 dark:bg-zinc-900">
        <div class="container m-auto"></div>
    </section>

    {% include "components/cta.njk" %}
{% endblock body %}